@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="color:blue;font-size:30px;">MedVet </p>
   <div> <img src ="medicina-veterinara.jpg" height="400px" /></div>
</div>
